:host {
  display: block;
}
*{
  font-family: sans-serif;
}
.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0;
  background-color: #373737;
}

.feature-item {
  text-align: center;
  max-width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #515151;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.feature-item:hover{
  box-shadow: 0px 0px 20px 0px #01cd427f;
}
.feature-icon {
  font-size: 36px;
  margin-bottom: 20px;
  color: #3498db;
}

.feature-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #f7f7f7;
}

.feature-description {
  font-size: 16px;
  color: #c5c5c5;
}

@media (max-width: 768px) {
  .feature-item {
      max-width: 100%;
  }
}


